.resume-list {
	dt {
		color: $secondary-color;
		font-size: 1.1em;
		font-weight: 700;
	}
	dd {
		margin: 0 0 20px;
	}
}

.role {
	&-workplace {
		display: block;
	}
	&-date {
		display: block;
		margin-top: 5px;
		color: $secondary-color-dark;
		font-size: 0.8em;
	}
}