@media screen and (min-width: 400px) {

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}	

}

@media screen and (min-width: 600px) {

	html {
		font-size: 1.2em;
	}

	.site-section-inner {
		padding: 15px 0;
		max-width: 80%;
		margin: 0 auto;
	}

	.intro-profilepicture {
		margin-bottom: 35px;
		width: 150px;
		height: 150px;
	}
	
}

@media screen and (min-width: 1000px) {

	.site-section-inner {
		padding: 35px 0;
		max-width: 500px;
		margin: 0 auto;
	}	
	
}